@font-face {
  font-family: "JejuMyeongjo";
  src: url(../assets/fonts/JejuMyeongjo-Regular.ttf);
}

* {
  font-family: "JejuMyeongjo", sans-serif;
  -webkit-text-stroke: 0.1px black;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline: none;
  transition: filter 0.3s ease;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:active {
  filter: brightness(0.9);
  /* увеличение кнопки  */
  transform: scale(0.95);
}

body {
  position: relative;
  /* margin: 0;
  padding: 0;
  height: 100%; */
  /* overflow: hidden; */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(28.55deg, #76b1f7 20%, #e2b6eb 66%, #e1ddb2 100%);
  opacity: 0.5;
  z-index: -1;
}

a {
  text-decoration: none;
  font-size: 14px;
}

.btn-line {
  background-color: transparent;
  border: 2px solid #e6a5b0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
  margin: 0px;
  padding: 0;
  font-weight: 200;
  font-size: 32px;
}

h2 {
  color: black;
  margin: 0px;
  padding: 0;
  font-weight: 200;
  font-size: 18px;
}

p {
  color: black;
  margin: 5px 0;
  padding: 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

input::placeholder {
  color: black;
}

input:focus,
input.error {
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
  outline: none;
}

input {
  background-color: #f3f4fc;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
}

input::placeholder {
  color: #999;
  opacity: 0.9;
}

input[type="date"] {
  text-align: center;
}

.MuiInput-input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding: 0 15px;
  font-size: 15px !important;
  background-color: #f3f4fc !important;

  /* font-family: "JejuMyeongjo", sans-serif !important; */
  /* color: black !important; */
  /* font-weight: 100 !important; */
}

.MuiInput-root.error .MuiInput-input {
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
  outline: none;
}

.password-input{
  position: relative;
}

.password-input .password-icon{
  position: absolute;
  right: 10px;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #a5b0e6;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.5;
  resize: none;
}

textarea:focus {
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
}

select {
  width: 75%;
  border-radius: 10px;
  border: 1px solid #e6a5b0;
  height: 35px;
  padding: 0 10px;
  outline: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23000' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center; /* Позиционируем стрелку */
  background-size: 12px;
}

/* textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #a5b0e6;
  border-radius: 10px;
  border: 1px solid transparent; 
} */

textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.error-message {
  font-size: 13px;
  color: red;
  margin-left: 8px;
}
