.LogIn-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.LogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 410px;
  margin: 40px auto 40px;
  border-radius: 20px;
}

.LogIn h1 {
  margin: 20px 0 0;
}

.LogIn input {
  margin-bottom: 20px;
  width: 300px;
  height: 32px;
  border-radius: 10px;
  padding: 0 8px;
}

.LogIn p {
  width: 320px;
  margin: 0 0 15px;
  font-size: 12px;
  line-height: 16.15px;
}

.LogIn button {
  width: 320px;
  height: 38px;
  border-radius: 10px;
  border: none;
  margin: 7px 0 15px;
  background-color: #a5b0e6;
}

/* .LogIn a{
    margin-bottom: 30px;
} */

.TypeLogIn {
  display: flex;
  position: relative;
}

.TypeLogIn button {
  width: 158px;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.TypeLogIn button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e6a5d0;
  left: 0;
  bottom: -2px;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.TypeLogIn button.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.logIn_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.LogIn a {
  color: #d567b0;
  margin-bottom: 20px;
}
