.transaction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.balance-top{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.balance-action {
  display: flex;
  gap: 15px;
  width: 100%;
}

.balance-action p {
  font-size: 16px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.balance-action-input {
  height: 35px;
  width: 170px;
  background-color: rgba(255, 255, 255, 0.5);
}

.balance-action button {
  border: none;
  border-radius: 10px;
}

.btn-deposit {
  background-color: rgba(118, 177, 247, 0.5);
  width: 120px;
}

.btn-withdraw {
  background-color: rgba(255, 255, 255, 0.5);
  width: 80px;
}

.btn-deposit.disabled{
    cursor: not-allowed;
}

.frozen_balance{
  height: 35px;
  width: 170px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
}

.balance-history {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  width: 80vw;
  height: 70vh;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.balance-history::-webkit-scrollbar {
  display: none;
}

.balance-history-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.balance-history-table tr:first-child th {
  border-top: none;
}
.balance-history-table tr:last-child td {
  border-bottom: none;
}
.balance-history-table tr td:first-child,
.balance-history-table tr th:first-child {
  border-left: none;
}
.balance-history-table tr td:last-child,
.balance-history-table tr th:last-child {
  border-right: none;
}

.balance-history-table th,
td {
  font-weight: normal;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.MyBalance_form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 400px;
  margin: 25px auto;
  border-radius: 20px;
  padding: 20px;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.MyBalance_top {
  display: flex;
  justify-content: space-between;
}

.MyBalance_title {
  margin: 0 0 25px;
}

.MyBalance_payment {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.MyBalance_payment input {
  border-radius: 10px;
  height: 30px;
  width: 170px;
  padding: 0 10px 0;
  /* border: none; */
}

.MyBalance_payment button {
  border-radius: 20px;
  height: 30px;
  width: 170px;
  border: none;
  align-items: center;

  background-color: #fff;
  border: 2px solid #e6a5b0;
}

.MyBalance_payment button:hover {
  background-color: #e6a5b0;
}

.MyBalance_payment h2,
.MyBalance_payment input,
.MyBalance_payment button {
  display: block;
  margin-bottom: 10px;
}


.balance-history-table td {
  text-align: left;
}