header{
    display: flex;
    justify-content: space-between;
    margin: -10px -50px 0 0px;
    overflow: visible;
    background-color: #fff;
}

header .header_logo {
  width: 105px;
  margin-left: 40px;
}

header img.img_balance {
    width: 21px;
    margin-right: 10px;
}

.header_right{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header_right button{
    border-radius: 25px;
    height: 45px;
    padding: 0 15px;
    margin: 0 0 0 16px
}

button{
    cursor: pointer;
}

.button_profile{
    border: none;
    background-color: #C2B9B0;
    transition: background-color 0.3s;
    /* position: relative; */
}

.button_profile:hover{
    background-color: #7E685A;
}




