.LogIn-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.LogIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 410px;
  margin: 40px auto 40px;
  border-radius: 20px;
}

.LogIn select {
  width: 316px;
  height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.LogIn h1 {
  margin: 20px 0 0;
}

.LogIn input {
  margin-bottom: 5px;
  width: 300px;
  height: 32px;
  border-radius: 10px;
  padding: 0 8px;

  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.logIn-text {
  width: 320px;
  margin: 0 0 15px;
  font-size: 12px;
  line-height: 16.15px;
}

.LogIn button {
  width: 320px;
  height: 38px;
  border-radius: 10px;
  border: none;
  margin: 7px 0 15px;
  background-color: #a5b0e6;
}

.TypeLogIn {
  display: flex;
  position: relative;
}

.TypeLogIn button {
  width: 158px;
  border-radius: 0;
  background-color: transparent;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.TypeLogIn button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #e6a5d0;
  left: 0;
  bottom: -2px;
  opacity: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.TypeLogIn button.active::after {
  opacity: 1;
  transform: scaleX(1);
}

.logIn_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.LogIn a {
  color: #d567b0;
  margin-bottom: 20px;
}

.LogIn .MuiIconButton-root {
  color: #757575;
  background-color: transparent;
  width: 0;

  position: absolute;
  right: 10px;
  top: 22%;
  transform: translateY(-50%);
  color: #757575;
  padding: 6px;
}

.LogIn .MuiIconButton-root:hover {
  color: #757575;
  background-color: transparent;
  width: 0;
}

.LogIn .react-tel-input .form-control {
  width: 316px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #f3f4fc;
  font-size: 14px;
  padding-left: 48px;
  font-size: 14px;
}

.LogIn .react-tel-input .form-control:focus {
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
  outline: none;
}

.LogIn .react-tel-input .form-control.error {
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
  outline: none;
} 

.LogIn .react-tel-input .country-list {
  width: 316px;
}

.input-errors-group {
  width: 100%;
}
