.modal-addChannel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-addChannelContent {
  background-color: white;
  border-radius: 10px;
  z-index: 1001;
  position: relative;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.close-modal-btn-addChannel {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 15px;
}

.close-icon {
  width: 25px;
  height: 25px;
}

.dropdown-network-btn {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #A5B0E6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0;
  background-color: #fff;
}

.dropdown-list-network {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 170px;
  padding: 15px 15px 1px;
}

.dropdown-list-network li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.dropdown-network-img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.modal-addChannel-gender-btn button {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  border: 1px solid #A5B0E6;
  background-color: #fff;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.modal-addChannel-gender-btn button.selected-gender {
  background-color: #F6A8CD;
  border: 1px solid #F6A8CD;
}

.modal-addChannel-country-city input{
    height: 40px;
    width: 250px;
    border-radius: 10px;
    padding-left: 10px;
}

.save-add-channel {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  align-self: center;
  margin: 30px 0 10px;
  background-color: #a5b0e6;
}

.save-add-channel:hover{
    background-color: #A5B0E6;
    filter: brightness(0.9);
}

.modal-addChannel p{
    margin: 15px 0;
}

.modal-addChannel-country-city{
    display: flex;
    gap: 30px;
}

.modal-addChannel button:not(.save-add-channel, .close-modal-btn-addChannel):hover {
    background-color: #F6A8CD;
    border: 1px solid #F6A8CD;
}