.modal-addChannel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-conteiner-addChannel {
  background-color: white;
  border-radius: 10px;
  z-index: 1001;
  position: relative;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  /* display: flex;
  flex-direction: column; */
}

.dropdown-network-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.close-modal {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 20px;
  right: 15px;
}

.close-icon {
  width: 25px;
  height: 25px;
}

.dropdown-network button {
  border: none;
  border-radius: 25px;
  height: 35px;
  width: 180px;
  background-color: #a5b0e6;

  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-list-network {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 170px;
  padding: 15px 15px 1px;
  margin-top: 15px;
  /* margin-bottom: 20px; */
}

.dropdown-network-img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-list-network li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.addChannel-name {
  display: flex;
  gap: 15px;
  /* margin: 15px 0; */
}

.addChannel-name input {
  width: 85%;
  height: 35px;
  border-radius: 10px;
  padding: 0 10px;
}

.addChannel-descroption textarea {
  width: 96%;
  height: 70px;
  border-radius: 10px;
  border: 1px solid #a5b0e6;
  outline: none;
  padding: 10px;
  /* margin-bottom: 15px; */
}

.addChannel-descroption textarea:focus {
  border: 1px solid #e6a5b0;
  box-shadow: 0 0 5px rgba(230, 165, 176, 0.5);
}

.save-add-channel {
  border-radius: 25px;
  background-color: #a5b0e6;
  border: none;
  width: 30%;
  height: 35px;
}

.addChannel-save {
  display: flex;
  justify-content: center;
}

/*





.dropdown-network-btn {
  width: 200px;
  height: 40px;
  border-radius: 30px;
  border: 2px solid #a5b0e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px;
  background-color: #fff;
}

.dropdown-list-network {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 170px;
  padding: 15px 15px 1px;
  margin-bottom: 20px;
}

.dropdown-list-network li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.dropdown-network-img {
  width: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.addChannel-name input {
  width: 240px;
  height: 40px;
  /* margin-top: 20px; */
/* padding: 0 10px;
  border-radius: 10px;
}

.addChannel-descroption input {
  width: 86%;
  height: 150px;

  border-radius: 10px;
  margin-top: 20px;
  text-align: start;
}

.addChannel-categoies select {
  width: 260px;
  height: 40px;
  padding: 0 10px;
  margin: 20px 0 0;

  border-radius: 10px;
  border: 1px solid #f6a8cd;
  outline: none;
}

.modal-addChannel-gender-btn button {
  width: 100px;
  height: 30px;
  border-radius: 30px;
  border: none;
  border: 1px solid #a5b0e6;
  background-color: #fff;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.modal-addChannel-gender-btn button.selected-gender {
  background-color: #f6a8cd;
  border: 1px solid #f6a8cd;
}

.modal-addChannel-country-city input {
  height: 40px;
  width: 250px;
  border-radius: 10px;
  padding-left: 10px;
}

.save-add-channel {
  width: 150px;
  height: 40px;
  border-radius: 30px;
  border: none;
  align-self: center;
  margin: 30px 0 10px;
  background-color: #a5b0e6;
}

.save-add-channel:hover {
  background-color: #a5b0e6;
  filter: brightness(0.9);
}

.modal-addChannel p {
  margin: 15px 0;
}

.modal-addChannel-country-city {
  display: flex;
  gap: 30px;
}

.modal-addChannel button:not(.save-add-channel, .close-modal):hover {
  background-color: #f6a8cd;
  border: 1px solid #f6a8cd;
} */
