.change-password-body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

.change-password-content{
    background-color: white;
    border-radius: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.change-password-body input{
    width: 300px;
    height: 40px;
    padding: 0 8px;
    margin-top: 20px;
}

.password-input{
    display: flex;
    flex-direction: column;
}

.change-password-content button{
    margin-top: 20px;
}

.change-password-content p{
    margin-top: 8px;
}